<!DOCTYPE html>
<html ng-app="studentApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Service Example 1</title>
</head>
<body ng-controller="studentCtrl as ctrl">
<h1>Hello Service Example - Factory</h1>

<button ng-click="ctrl.open('first')">Open First</button>
<button ng-click="ctrl.open('second')">Open Second</button>

<div ng-switch on="ctrl.tab">
    <div ng-switch-when="first">
        <div ng-controller="innerCtrl as ctrl">
            <h3>First Tab</h3>
            <ul>
                <li ng-repeat="item in ctrl.studentList()">
                    Name: {{item.name}}
                </li>
            </ul>
            <button ng-click="ctrl.add()">
                Add more Student
            </button>
        </div>
    </div>
    <div ng-switch-when="second">
        <div ng-controller="innerCtrl as ctrl">
            <h3>Second Tab</h3>
            <ul>
                <li ng-repeat="item in ctrl.studentList()">
                    Name: {{item.name}}
                </li>
            </ul>
            <button ng-click="ctrl.add()">
                Add more Student
            </button>
        </div>
    </div>
</div>
<script src="../angular.js"></script>
<script src="scripts/service-factory-example.js"></script>
<!--<script src="scripts/service-service-example.js"></script>-->
<!--<script src="scripts/service-provider-example.js"></script>-->
</body>
</html>