<!DOCTYPE html>
<html ng-app="studentApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Form Controls Example</title>
</head>
<body ng-controller="studentCtrl as ctrl">
    <!-- Simple Form with Other Form Control Example -->

    <strong>Student Registration with Checkboxes:</strong>

    <form ng-submit="ctrl.save()" name="studentForm">
        <p>Name: <input type="text" ng-model="ctrl.student.name" required ng-minlength="4" /></p>
        <p>Age: <input type="number" ng-model="ctrl.student.age" required /></p>
        <p>Address: <textarea ng-model="ctrl.student.address" required></textarea> </p>
        <p>
            What are your favorite sports?
            <div ng-repeat="sport in ctrl.sports track by $index">
                <label>{{sport.name}}</label>
                <div>
                    With binding:
                    <input type="checkbox"
                           ng-model="sport.selected"
                           ng-true-value="'YES'"
                           ng-false-value="'NO'">
                </div>
                <div>
                    using ng-checked:
                    <input type="checkbox" ng-checked="ctrl.sport.selected === 'YES'">
                </div>
                <div>
                    current state: {{ctrl.sport.selected}}
                </div>
            </div>


        </p>
        <input type="submit" value="Submit" ng-disabled="studentForm.$invalid" />
    </form>

<script src="../angular.js"></script>
<script src="scripts/form-example-6.js"></script>
</body>
</html>